button {
    text-align: center;
    padding: 150px 150px;
    background-color: yellowgreen;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: seagreen;
}

body {
    text-align: center;
}

#play {
    background-color: yellowgreen;
    border-radius: 10px;
    top: 10px;
}

#play:hover {
    background-color:seagreen;
}

